body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
body,
button {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
/*video {
	display: none;
}*/
.logo {
  position: absolute;
  z-index: 999999;
  height: 2em;
  width: 2em;
  left: 1.4em;
  top: 1.4em;
  opacity: 0.5;
  transition: all 0.5s;
  cursor: crosshair;
}
.logo:hover {
  opacity: 1;
}
.logo:hover .bar:nth-child(1) {
  left: 1.5em;
}
.logo:hover .bar:nth-child(1):before {
  top: 1.5em;
  left: -1.5em;
}
.logo:hover .bar:nth-child(2) {
  left: 1em;
}
.logo:hover .bar:nth-child(2):before {
  top: 1em;
  left: -1em;
}
.logo:hover .bar:nth-child(3) {
  left: 0.5em;
}
.logo:hover .bar:nth-child(3):before {
  top: 0.5em;
  left: -0.5em;
}
.showIntro .logo {
  opacity: 0;
}
.logo .bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  border-left: 2px solid #fff;
  margin-left: -1px;
  transition: all 1s;
}
.logo .bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  border-top: 2px solid #fff;
  margin-top: -1px;
  margin-left: -1px;
  transition: all 1s;
}
.logo .bar:nth-child(1) {
  left: 0.5em;
}
.logo .bar:nth-child(1):before {
  top: 0.5em;
  left: -0.5em;
}
.logo .bar:nth-child(2) {
  left: 1em;
}
.logo .bar:nth-child(2):before {
  top: 1em;
  left: -1em;
}
.logo .bar:nth-child(3) {
  left: 1.5em;
}
.logo .bar:nth-child(3):before {
  top: 1.5em;
  left: -1.5em;
}
#intro {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: #000;
  transition: all 5s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  color: #eee;
}
#intro.active {
  height: 100%;
  opacity: 1;
}
#intro.leave {
  height: 0;
  opacity: 0;
  bottom: 0;
}
#intro .slide {
  padding: 4em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 42em;
  margin: 0 auto;
  display: none;
}
#intro .slide:nth-child(1) {
  display: block;
}
#intro p,
#intro ul {
  font-size: 0.9em;
  line-height: 1.75;
}
#intro li {
  margin-bottom: 1em;
}
#intro p,
#intro h3 {
  margin-top: 0;
  margin-bottom: 1em;
}
#intro button {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 5s ease 5s;
}
#intro.active button {
  opacity: 0.5;
}
#intro.active button:hover {
  opacity: 1;
}
.header {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 2s;
  width: 100%;
  height: 80px;
}
.header.active {
  opacity: 1;
  transform: translateY(0%);
}
.header.conceptual {
  width: 100vh;
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-93%, -100%);
}
.createLoom .header.conceptual {
  transform: rotate(-90deg) translate(-93%, 50%);
}
.animateLoom .header.conceptual {
  transform: rotate(-90deg) translate(-93%, -100%) !important;
}
.openHaiku .header.conceptual {
  opacity: 0;
}
.animateLoom .header.perceptual {
  transform: translateY(100vh);
}
.openHaiku .header.perceptual {
  transform: translateY(100vh);
}
.header.bottom {
  bottom: 0;
  top: auto;
  transform: translateY(100%);
}
.createLoom .header.bottom {
  transform: translateY(0%);
}
.animateLoom .header.bottom {
  transform: translateY(100%) !important;
}
.openHaiku .header.bottom {
  transform: translateY(100%) !important;
}
.header .title {
  font-weight: 100;
  letter-spacing: .2em;
  margin-top: 0.6em;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.25);
}
.header .buttons {
  margin: 0 80px;
}
.header .link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: .2em;
  cursor: pointer;
  display: inline-block;
  width: 24%;
  padding: 1em 0;
  transition: all 1s;
}
.header .link.hover,
.header .link:hover {
  color: white;
}
.header .link.selected {
  color: gold;
}
.header .link.selected:hover {
  color: white;
}
button {
  border: 2px solid #fff;
  padding: 1em;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  opacity: 0.5;
  font-size: 0.8em;
  letter-spacing: .3em;
  font-weight: 500;
  transition: all 0.5s;
  margin-top: 1.25em;
  outline: none;
}
button:hover,
button:active {
  border-color: #fff;
  color: #fff;
}
.header button.active {
  border-color: gold;
  color: gold;
  opacity: 1;
  cursor: pointer;
}
.header button.active:hover {
  color: #333;
  background-color: gold;
}
.thread {
  position: absolute;
  background-color: #000000;
  z-index: 9;
  opacity: 0.5;
  overflow: hidden;
  transition: all 5s;
}
.createLoom .thread {
  transform: translateY(0%);
}
.openHaiku .thread,
.animateLoom .thread {
  transform: translateY(100vh) !important;
}
.thread[data-column]:nth-child(3) {
  transition-delay: 0.5s;
}
.thread[data-column]:nth-child(4) {
  transition-delay: 1s;
}
.thread[data-column]:nth-child(5) {
  transition-delay: 1.5s;
}
.thread[data-column]:nth-child(6) {
  transition-delay: 2s;
}
.thread.selected,
.thread.hover {
  opacity: 0.5 !important;
}
.thread video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
}
.grid {
  cursor: pointer;
  border: 2px solid transparent;
  position: absolute;
  z-index: 999;
  transition: all 1s;
  opacity: 1;
}
.grid:hover {
  border-color: white;
}
.grid.selected {
  border-color: gold;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}
.grid.disabled {
  border-color: rgba(0, 0, 0, 0.5);
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
}
.openHaiku .grid,
.animateLoom .grid {
  transform: translateY(100vh) !important;
  opacity: 0;
}
.haiku {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 5s;
}
.haiku.active {
  opacity: 1;
}
.haiku.active .title {
  transform: translateY(0);
}
.haiku .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: gold;
  text-align: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 5s;
  transition-delay: 1s;
  transform: translateY(100vh);
}
.haiku .slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 5s;
}
.haiku .slide.active {
  opacity: 1;
}
.haiku .slide.active .panel.sidebar {
  transform: translateX(0);
  opacity: 1;
}
.haiku .slide.active .panel.image {
  transform: translateX(0);
  opacity: 1;
}
.haiku .slide.active .panel.text {
  transform: translateY(0);
  opacity: 1;
}
.haiku .slide .panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 5s;
}
.haiku .slide .panel.sidebar {
  right: auto;
  width: 200px;
  transform: translateX(100vw);
  opacity: 0;
  z-index: 99;
}
.haiku .slide .panel.image {
  left: calc(218px);
  transform: translateX(-100vw);
  transition-delay: 0.5s;
  opacity: 0;
  z-index: 9;
}
.haiku .slide .panel.text {
  top: auto;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.9);
  color: #eee;
  padding: 4em;
  padding-left: calc(300px);
  transform: translateY(-100vh);
  transition-delay: 2s;
  opacity: 0;
  z-index: 999;
}
.haiku .slide .panel.text p {
  white-space: pre;
  line-height: 2;
}
.haiku .slide .panel.text h6 {
  font-weight: normal;
  font-size: 1em;
  color: #999999;
}
#video {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  transition: all 5s;
  transition-delay: 2s;
  background-color: #000;
  opacity: 0;
}
#video iframe {
  height: 100%;
  width: 100%;
}
.animateLoom #video {
  opacity: 1;
}
#bio {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gold;
  opacity: 0;
  transition: all 5s;
  z-index: 999;
  top: 100vh;
}
.showBio #bio {
  top: 0;
  display: block;
  opacity: 1;
}
#bio .inner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
}
/*# sourceMappingURL=app.css.map */