h6 Collaborators:

p Joor Baruah, interactive documentary consultant
p Steve Sunderland, web developer &amp; design consultant

h6 Advisers:

p Sharon Daniel
p Newton and Helen Harrison
p Gustavo Vazguez
p Karen Holl

h6 Organizations:

p Yachay Wasi 
p Aquafondo

h6 Participants:

p Luis Delgado 
p Sandra Delgado
p Percy Nunez
p Maria Ramos
p Ferrero Jimenez de la Rosa

h6 Translators:

p Cynthia Guardado
p Carolina Castillo-Trelles

h6 Additional Support:

p Felicia Rice
p Kristen Grace Erickson
p Nick Baldwin

h6 Supported by:

p University of California Santa Cruz, Digital Arts &amp; New Media program
p University of California Institute for Research in the Arts


h6 &nbsp;
p 
	em A special thank you to my loving mom Louria Batson and supportive stepfather John Batson.