h3 WATERSHED
p We all belong to a watershed. A watershed is an area of land that drains rain water or snow into one location such as a stream, river, lake or wetland. 
p Far from being isolated bodies or conduits, freshwater ecosystems are tightly linked to eachother by the watersheds of which each is a part. What happens in one part of the watershed will impact the water quality, quantity, and people downstream.
p Watersheds are the home to untold number of species and provide life-sustaining waters to all of humanity.

h3 THE CHILLÓN RIVER WATERSHED
p The Chillón River is a vital source of water for Lima, Peru. Lima is the second largest desertt city in the world with a population of 9.6 million and growing. 
p Its headwaters are located on the western slopes of La Viuda (The Widow) Mountain Range, in the Pucracocha, Aguascocha and Chuchón lagoons, at approximately 15,091 feet. These lagoons are glacier fed and are used to store water during the summer months. This water is then discharged between May and December, when the river’s flow is at its lowest level and much of the region experiences drought like conditions.
p The watershed covers an area of 943 square miles. The lagoons and wetlands within this watershed are among the most diverse ecosystems in the desert with a high number of species found nowhere else in the world, and provide environmental services that are crucial for the quality of life of millions of people.
p Of the three valleys that Lima is built on, the Chillón Valley holds the largest agricultural lands and the main crops grown here are corn, cotton, tomato, potatoes, grasses and fruits.

h3 THE VILACANOTA-URUBAMBA RIVER WATERSHED

p The Vilacanota River is one of the main sources of water for the Amazon River basin and it flows through the heart of the historical Incan Empire, past the famous site of Macchu Picchu.
p Vilacanotas’ headwaters originates from Khunurana  mountain in the La Raya mountain range, at approximately 17,782 ft. The river is fed by retreating glaciers and flows North-North west for 723 miles, turning into the Urubamaba River before joining the Tambo River to form the Ucayali River which then joins the mighty Amazon River. 
p Vilacanota is the source of water for hundreds of densely settled farming communities along its route and is considered sacred by the indigenous Quechua people of the high Andes.
p The Vilacanota Valley (with the Sacred Valley of the Incas at its center) has been shown to be undergoing warming and increased rates of glacier retreat. As a result the potato farmers in the region are cultivating at higher and higher elevations and many plants and animals are slowly migrating upwards.
